@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

$dark-blue: #110b56;

body {
  font-family: 'Mulish', sans-serif;
}
img {
  max-width: 100%;
}

p {
  margin: 0;
}

.sidebar {
  background: #f4f5fa;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 12%;
  padding-top: 90px;
  font-size: 15px;
  font-weight: 700;

  .sidebar-item {
    display: flex;
    padding: 10px 0 10px 30px;
    align-items: center;
    margin: 10px 0;
    color: #637381;
  }

  .sidebar-item.active {
    color: #2979f2;
    display: flex;
    padding: 10px 0 10px 30px;
    align-items: center;
    border-right: 3px solid #2979f2;
    background: #eaeffd;
  }

  .sidebar-item.bottom {
    position: absolute;
    bottom: 0;
  }
}

.dashboard {
  margin-left: 12%;
  padding: 30px;

  .dashboard-header {
    display: grid;
    grid-template-columns: 90% 10%;
    align-content: center;
  }

  .dashboard-search {
    border: 1px solid #e3eded;
    border-radius: 2px;
    width: 30%;
    padding: 5px 10px;
    color: #637381;

    .dashboard-search__input {
      font-size: 15px;
      margin-left: 10px;
      border: 0;
      background: transparent;
    }
  }

  .dashboard-profile {
    display: flex;
    align-items: center;
    justify-self: flex-end;
    align-self: center;

    .dashboard-profile__photo {
      margin-left: 15px;
      img {
        border-radius: 25px;
      }
    }
  }

  .dashboard-overview__text {
    font-size: 20px;
    font-weight: 700;
    color: $dark-blue;
    margin: 30px 0;
  }

  .dashboard-overview--card {
    padding: 30px !important;
    border-radius: 2px;

    .dashboard-overview--card__title {
      font-size: 15px;
      color: $dark-blue;
      margin-bottom: 15px;
    }

    .dashboard-overview--card__value {
      font-size: 20px;
      color: $dark-blue;
      font-weight: 700;
    }

    .dashboard-overview--card__text {
      color: #919eab;
      margin-top: 5px;
    }
  }

  .dashboard-overview--chart {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 40px 0;

    .dashboard-overview--chart__switch {
      width: 150px;
    }

    .dashboard-overview--chart__legend {
      color: $dark-blue;
      align-self: center;
      justify-self: flex-end;
    }
  }

  .dashboard-table--toolbar {
    height: 60px;
    box-sizing: border-box;

    .dashboard-table--toolbar__option {
      box-sizing: border-box;
      border: 1px solid #e3eded;
      padding: 5px 20px;
    }

    .dashboard-table--toolbar__option.active {
      background: #eaeffd;
      border-bottom: 3px solid #2979f2;
    }

    .dashboard-table--toolbar__button {
      width: 120px;
      float: right;
    }
  }

  .dashboard-overview--customer-satisfaction {
    background: #e7f5fe;
    margin: 40px 0;
    padding: 30px;

    .dashboard-overview--customer-satisfaction__title {
      color: #2979f2;
      font-size: 20px;
      font-weight: 600;
    }

    .dashboard-overview--customer-satisfaction__subtitle {
      color: #919eab;
      font-size: 12px;
      margin-bottom: 20px;
    }

    .dashboard-overview--customer-satisfaction__response {
      color: #2979f2;
      font-size: 12px;
    }

    .dashboard-overview--customer-satisfaction__response-value {
      color: #3b4859;
      font-size: 20px;
      margin-bottom: 20px;
    }
  }

  .dashboard-overview--messages {
    border: 1px solid #E3EDED;
    margin: 20px 0;
    padding: 30px;
    font-size: 12px;

    .dashboard-overview--messages__title{
      color: #2979f2;
      font-size: 20px;
      font-weight: 600;
    }

    .dashboard-overview--messages__button{
      background: #2979f2;
      color: #fff;
      font-size: 12px;
      text-transform: capitalize;
      float: right;
      border-radius: 2px;
      margin-bottom: 30px;
    }
.dashboard-overview--messages__item{
  border-bottom: 1px solid #e3eded;
  padding: 10px 5px;
}
    .dashboard-overview--messages__company-name{
      color: #2979f2;
      font-weight: 600;
    }

    .dashboard-overview--messages__text, .dashboard-overview--messages__time{
      color: #919eab;
    }
  }
}
