$dark-blue: #110b56;

img {
  max-width: 100%;
}

p {
  margin: 0;
}

.sidebar {
  background: #f4f5fa;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 12%;
}

.dashboard {
  margin-left: 12%;
  padding: 30px;

  .dashboard-header {
    display: grid;
    grid-template-columns: 90% 10%;
    align-content: center;
  }

  .dashboard-search {
    border: 1px solid #e3eded;
    border-radius: 2px;
    width: 30%;
    padding: 5px 10px;
    color: #637381;

    .dashboard-search__input {
      font-size: 15px;
      margin-left: 10px;
      border: 0;
      background: transparent;
    }
  }

  .dashboard-profile {
    display: flex;
    align-items: center;
    justify-self: flex-end;
    align-self: center;

    .dashboard-profile__photo {
      margin-left: 15px;
      img {
        border-radius: 25px;
      }
    }
  }

  .dashboard-overview__text {
    font-size: 20px;
    font-weight: 700;
    color: $dark-blue;
    margin: 30px 0;
  }

  .dashboard-overview--card {
    padding: 30px !important;
    border-radius: 2px;

    .dashboard-overview--card__title {
      font-size: 15px;
      color: $dark-blue;
      margin-bottom: 15px;
    }

    .dashboard-overview--card__value {
      font-size: 20px;
      color: $dark-blue;
      font-weight: 700;
    }

    .dashboard-overview--card__text {
      color: #919eab;
      margin-top: 5px;
    }
  }

  .dashboard-overview--chart {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 40px 0;

    .dashboard-overview--chart__switch {
      width: 150px;
    }

    .dashboard-overview--chart__legend{
      color: $dark-blue;
      align-self: center;
      justify-self: flex-end;
    }
  }

  .dashboard-table--toolbar{
    height: 60px;
    box-sizing: border-box;

    .dashboard-table--toolbar__option{
      box-sizing: border-box;
      border: 1px solid #e3eded;
      padding: 5px 20px;
    }

    .dashboard-table--toolbar__option.active{
      background: #EAEFFD;
      border-bottom: 3px solid #2979F2;
    }

    .dashboard-table--toolbar__button{
      width: 120px;
      float: right;
    }
  }
}
